
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
             background: url("{% static "images/15.jpg" %}");
        }
        .final{
              background: cyan;
    
              margin-top: 340px;
              padding: 15px;
              margin-right: 300px;
              font-size: 26px;
              margin-left: 399px;
}
        
    </style>
</head>
<body>
    
     
    
      <button> <a href="home">home</a></button>
     
        
         
    <div class="final"><p> We’re using this holiday card to thank you for being such a loyal customer. We have learned so many new ideas from you during the last quarter of the year. With you, we made great progress. Once again, thank you for your business and trust.

    </p>

    </div>
</body>
</html>